<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Gerenciador de Tarefas - Home</title>
    <link rel="stylesheet" href="webjars/bootstrap/4.3.1/css/bootstrap.min.css">


</head>
<body>
<div th:replace="fragmentos/fragmentos :: cabecalho"></div>
<div class="container navPadding"  >
<div class="jumbotron" content="align-content-center">
    <h1>Hello, world!</h1>
    <p>Olá, Sejam todos bem vindos ao Gerenciador de Tarefas - ThreeK </p>
</div>
</div>
<div class="card text-white bg-dark mb-3">
    <div class="card-header">
        Citação
    </div>
    <div class="card-body text-white bg-dark mb-3">
        <blockquote class="blockquote mb-0">
            <p>Bem-aventurado o homem que acha sabedoria, e o homem que adquire conhecimento;
                Porque é melhor a sua mercadoria do que artigos de prata, e maior o seu lucro que o ouro mais fino.</p>
            <footer class="blockquote-footer">Salomão em <cite title="Título da fonte">Provérbios 3:13,14</cite></footer>
        </blockquote>
    </div>
</div>


<script src="webjars/jquery/3.4.1/jquery.min.js"></script>
<script src="webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>